<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home">
            </ion-back-button>
        </ion-buttons>
        <ion-title horizontal="end">
            Adding new task
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <form #createTaskForm="ngForm" novalidate>

        <ion-input [(ngModel)]="title" name="title" placeholder="Title..." type="text" minlength="5"></ion-input>
        <ion-textarea [(ngModel)]="description" name="description" placeholder="Description.." type="text" rows="8"
            maxlength="1000"></ion-textarea>

        <ion-item>
            <ion-checkbox [(ngModel)]="isStarted" name="isStarted" color="danger" checked slot="start"></ion-checkbox>
            <ion-label>automatically start task</ion-label>
        </ion-item>

        
        <ion-item>
                <ion-checkbox [(ngModel)]="isLocationPinned" name="isLocationPinned" color="danger" checked slot="start"></ion-checkbox>
                <ion-chip outline color="primary">
                        <ion-icon name="pin"></ion-icon>
                        <ion-label>{{position}}</ion-label>
                </ion-chip>
        </ion-item>

        
        <ion-button expand="block" (click)="addTask(createTaskForm)">Add task</ion-button>
    </form>
        <ion-button expand="block" (click)="takePhoto()">Pin photo</ion-button>

    <app-map #customMapComponent [enableUserGeo]="true" [preloadMap]="true" (onMarkerLatitudeChanged) = "setLatinude($event)" (onMarkerLongitudeChanged) = "setLongitude($event)"
    style="width:100%; height:250px;">

    </app-map>

</ion-content>