<ion-tabs>

  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="taskstab">
      <ion-icon name="book"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Soon</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Soon</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
