<ion-header>
    <ion-toolbar>
        <ion-title>To-do manager</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content horizontal="center" vertical="center" id="maincontent">

        <form #loginForm="ngForm" novalidate id="logininputs">

            <ion-input [(ngModel)]="username" name="username" placeholder="Username" type="text"></ion-input>
            <ion-input [(ngModel)]="password" name="password" placeholder="Password" type="password"></ion-input>

            <ion-grid> 
                <ion-row>
                    <ion-col > 
                        <ion-button (click)="login(loginForm)" expand="block" color="light">log in</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" color="danger" (click)="LoginG()" >
                                <ion-icon name="logo-googleplus"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" (click)="LoginFacebook()">
                                <ion-icon name="logo-facebook"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

    <ion-button id="signin" (click)="signin()" expand="block" color="light">sign in</ion-button>

</ion-content>