<ion-app>
  <ion-split-pane>
  
    <ion-menu side="start">
        <ion-header>
          <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <ion-list>
            <ion-list-header>
                  Account
            </ion-list-header>

            <ion-menu-toggle autoHide="false">
                <ion-item>
                    <ion-icon name="log-out" slot="end"></ion-icon>
                    <ion-label>Log out</ion-label>
                </ion-item>
              </ion-menu-toggle>

          </ion-list>
        </ion-content>

    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
