<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home">
          </ion-back-button>
      </ion-buttons>
      <ion-title horizontal="end">
          Registration
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form #registrationForm="ngForm" novalidate>

      <ion-input [(ngModel)]="username" name="username" placeholder="Username..." type="text" minlength="5"></ion-input>
      <ion-input [(ngModel)]="password" name="password" placeholder="Password..." type="text" minlength="5"></ion-input>
      <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password..." type="text" minlength="5"></ion-input>
      
      <ion-button expand="block" (click)="signIn(registrationForm)">Sign In</ion-button>
  </form>

</ion-content>
