<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home">
            </ion-back-button>
        </ion-buttons>
        <ion-title horizontal="end">
            <ion-input value="{{title}}" name="title" readonly="true"></ion-input>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-label>Status</ion-label>
                <ion-note color="warning" slot="end" *ngIf="status === statusType.Created">Created</ion-note>
                <ion-note color="success" slot="end" *ngIf="status === statusType.Started">Started</ion-note>
                <ion-note color="danger" slot="end" *ngIf="status === statusType.Finished">Finished</ion-note>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
            <ion-textarea type="text" auto-grow="true" value="{{description}}" name="description" readonly="{{!editMode}}"
                spellcheck="false"></ion-textarea>
        </ion-card-content>
    </ion-card>

    <ion-card color="primary" [hidden]="!coordinates">
        <ion-card-content>
            <app-map #customMapComponent [enableUserGeo]="false" style="width:100%; height:250px;">
            </app-map>
        </ion-card-content>
    </ion-card>

    <ion-card color="primary" [hidden]="!coordinates">
        <ion-card-content>
            <img src="{{image}}" alt="" style="width:100%; height:250px;" />
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-fab class="buttom-control" *ngIf="!editMode" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
        <ion-icon name="reorder"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button color="dark" *ngIf="status === statusType.Created" (click)="startTask()">
            <ion-icon name="play"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" *ngIf="status === statusType.Finished" (click)="replayTask()">
            <ion-icon name="refresh"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" *ngIf="status === statusType.Started" (click)="stopTask()">
            <ion-icon name="pause"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light" *ngIf="status !== statusType.Finished" (click)="finishTask()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
        <ion-fab-button color="dark" *ngIf="status !== statusType.Finished" (click)="changeEditMode()">
            <ion-icon name="open"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
</ion-fab>

<ion-fab class="buttom-control" horizontal="center" slot="fixed" *ngIf="editMode">
    <ion-row>
        <ion-col>
            <ion-fab-button (click)="confirmChanges()">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </ion-col>
        <ion-col>
            <ion-fab-button color="light" (click)="cancelChanges()">
                <ion-icon name="close"></ion-icon>
            </ion-fab-button>
        </ion-col>
    </ion-row>
</ion-fab>