<!--no data-->
<div *ngIf="!dataLoaded">

  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
<!---/nodata-->

<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="danger">
      <ion-segment-button value="all" checked>
        <ion-label>all</ion-label>
      </ion-segment-button>
      <ion-segment-button value="new">
        <ion-label>new</ion-label>
      </ion-segment-button>
      <ion-segment-button value="finished">
        <ion-label>finished</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataLoaded">

    <ion-refresher slot="fixed" pulling-text="Pull to refresh..." (ionRefresh)="refreshList($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="true">
      <ion-list *ngFor="let item of tasksList">
        <ion-item-sliding>
          <ion-item (click)="showTaskInfo(item)">

            <ion-icon name="pin" *ngIf="item.coordinates" color="danger" slot="end"></ion-icon>
            <ion-icon slot="end" *ngIf="item.status === statusType.Finished" name="star"></ion-icon>
            <ion-icon slot="end" *ngIf="item.status === statusType.Started" name="star-half"></ion-icon>
            <ion-icon slot="end" *ngIf="item.status === statusType.Created" name="star-outline"></ion-icon>

            <ion-label>
              <p>
                {{item.title}}
              </p>
              <p>
                {{item.description}}
              </p>
            </ion-label>

            <ion-reorder slot="end">
              <ion-icon name="shuffle" color="danger"></ion-icon>
            </ion-reorder>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option *ngIf="item.status === statusType.Created" (click)="startTask(item.id)">Start</ion-item-option>
            <ion-item-option *ngIf="item.status === statusType.Started" (click)="stopTask(item.id)">Pause</ion-item-option>
            <ion-item-option *ngIf="item.status !== statusType.Finished" (click)="finishTask(item.id)" color="light">Finish</ion-item-option>
            <ion-item-option *ngIf="item.status === statusType.Finished" (click)="replayTask(item.id)">Repeate</ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option (click)="removeTaskSelected(item)" color="danger">Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-reorder-group>

  </div>

  <ion-fab class="buttom-control" horizontal="center" slot="fixed" *ngIf="editMode">
    <ion-row>
      <ion-col>
        <ion-fab-button (click)="confirmChanges()">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button color="light" (click)="cancelChanges()">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-fab>


  <ion-fab class="buttom-control" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" [disabled]="editMode">
      <ion-icon name="cog"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" [disabled]="editMode" (click)="toggleReorderGroup()">
        <ion-icon name="move"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark" [disabled]="editMode" (click)="createTask()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>